<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<p>
				<label>分享链接: </label> http://url/12319fsdfs
			</p>
			<p>
				Copy and paste the above invitation code to invite
your friend . If your friend accepts your invitation, 
you'll get an extra play. 
			</p>
		</div>
	</div>

	<div class="home-ft">
		<div class="btn-bar">
			<button class="btn" style="margin-bottom: 15px">4 invitations sent</button>
			<button class="btn btn-blue">在玩一次</button>
		</div>
	</div>
</div>
<include file="Public/foot" />