<include file="Public/head" />
<div class="bg"></div>
<div class="main home">
	<div class="motif-bg"></div>
	<div class="home-ft">
		<if condition="$logined">
		<p><span>{$user.guess_count}</span> more chances remaining</p>
		</if>
		<div class="btn-bar">
			<button class="btn" ref="{$Think.config.app_path}/game"><if condition="$user['guess_count'] gt 0">Start!<else/><if condition="$logined">Want more chances to play?<else/>Start!</if></if></button>
		</div>
		<p>
		<if condition="$logined">
			<a href="{$Think.config.app_path}/my/invite">Invitation sent</a>
			<span class="line"> | </span>
			<a href="{$Think.config.app_path}/my/coupon">My coupons</a>
			<span class="line"> | </span>
			<a href="{$Think.config.app_path}/my/prize">My prizes</a>
			<br/><br/><a href="/guess/index/logout">Logout</a>
		<else/>
			<a href="javascript:;" class="fb" ref="{$Think.config.app_path}/my/invite">Invitation sent</a>
			<span class="line"> | </span>
			<a href="javascript:;" class="fb" ref="{$Think.config.app_path}/my/coupon">My coupons</a>
			<span class="line"> | </span>
			<a href="javascript:;" class="fb" ref="{$Think.config.app_path}/my/prize">My prizes</a>
		</if>
		</p>
	</div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '150753891946509',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$('.btn, .fb').click(function(){
<if condition="$logined">
	<if condition="$user['guess_count'] gt 0">
	location.href = '{$Think.config.app_path}/game';
	<else/>
	location.href = '{$Think.config.app_path}/my/invite';
	</if>
<else/>
var ref = $(this).attr('ref');
FB.login(function(response){
	FB.api('/me', function(response) {
		if(response.name && response.id)
		$.post('{$Think.config.app_path}/index/fb',response,function(d){
			if(d.ok){
			location.href = ref;
			}
		},'json');
	});
});
</if>
});
</script>
<include file="Public/foot" />