<include file="Public/head" />
<div class="bg"></div>
<div class="main home">
	<div class="motif-bg"></div>
	<div class="home-ft">
		<if condition="$user.guess_count gt 0">
		<p><span>{$user.guess_count}</span> more chances remaining</p>
		</if>
		<div class="btn-bar">
			<button class="btn">START!</button>
		</div>
		<p>
			<a href="{$Think.config.app_path}/my/invite">Invitation sent</a><span class="line"> | </span><a href="{$Think.config.app_path}/my/coupon">My coupons</a>
			<span class="line"> | </span>
			<a href="{$Think.config.app_path}/my/prize">My prizes</a>
		</p>
	</div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '150753891946509',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$('.btn').click(function(){
<if condition="$logined">
	<if condition="$user['guess_count'] lt 0">
	alert('You have no more chance, invite your friends to earn chance.');
	<else/>
	location.href = '{$Think.config.app_path}/game';
	</if>
<else/>
FB.login(function(response){
	FB.api('/me', function(response) {
		$.post('{$Think.config.app_path}/index/fb',response,function(d){
			if(d.ok){
			location.href = '{$Think.config.app_path}/game';
			}
		},'json');
	});
});
</if>
});
</script>
<include file="Public/foot" />