<include file="Public/head" />
<div class="bg"></div>
<div class="main">

	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<h4 class="coupon-title">Coupon</h4>
			<div class="coupon-list">
				<ul class="coupon-list-ul">
					<if condition="$coupons gt 0">
					<li>
						<h3 class="us">$5</h3>
						<div class="coupon-code">
							<h6>Coupon Code: guesstowin</h6>
						</div>
						<p>
							Coupon from www.dhgate.com  <br/>
							Buy Smart, Buy Direct
						</p>
					</li>
					<else/>
					<p>You have no coupon.</p>
					</if>
				</ul>
			</div>
		</div>
	</div>


	<div class="home-ft" style="padding-top: 20px">
	   
		<div class="btn-bar">
			<a class="btn" style="margin-bottom: 15px" href="http://www.dhgate.com?f=social|guessgame|mycoupon">Use coupon</a>
			
			<a class="btn btn-blue" href="{$Think.config.app_path}/">Have another go</a>
		</div>

	</div>

</div>
<include file="Public/foot" />
