<include file="Public/head" />
<div class="bg"></div>
<div class="main">

	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<ul class="invite-stat">
				<li>
					<h3>{$user.guess_count}</h3>
					<p>Remaining plays</p>
				</li>
				<li>
					<h3>{$question_count}</h3>
					<p>NO. of plays </p>
				</li>
			</ul>
			
			<div class="invite-list">
				<div class="invite-list-hd"> You've invited {$invite_count} people  </div>
				<ul class="invite-list-ul">
					<foreach name="invites" item="vo">
						<li>
							<span>{$vo.time_str}</span>
							<if condition="$vo.newer_id gt 0">{$vo.name} accepts<else/>Not accept</if>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>


	<div class="home-ft" style="padding-top: 20px">
		<p>
			Click 〝share〞to invite  more friends.<br>
			If your friend accepts your invitation, you'll get an
extra play.
		</p>

		<div class="btn-bar">
			<button class="btn share" style="margin-bottom: 15px">Share</button>
			
			<a class="btn btn-blue" href="{$Think.config.app_path}/">Have another go</a>
		</div>

	</div>

</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '150753891946509',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$('.share').click(function(){
	FB.ui({
		method: 'feed',
		link: 'http://campaign.dhgate.com{$Think.config.app_path}/invite/{$code}',
		caption: 'Help me guess it, guys!',
		picture: 'http://campaign.dhgate.com{$Think.config.app_path}/img/logo.jpg',
	}, function(response){
		console.log(response);
	});
});
</script>
<include file="Public/foot" />
