<include file="Public/head" />
<div class="bg"></div>
<div class="main home">
	<div class="motif-bg"></div>
	<div class="home-ft">
		<p><span>5</span> more chances remaining</p>
		<div class="btn-bar">
			<button class="btn">START!</button>
		</div>
		<p>
			<a href="">Invitation sent</a><span class="line"> | </span><a href="">My coupons</a>
			<span class="line"> | </span>
			<a href="">My prizes</a>
		</p>
	</div>
</div>
<script>
$('.btn').click(function(){
	location.href = '{$Think.config.app_path}/game';
});
</script>
<include file="Public/foot" />