<include file="Public/head" />
<div class="bg"></div>
<div class="main">

	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<ul class="invite-stat">
				<li>
					<h3>0</h3>
					<p>Remaining plays</p>
				</li>
				<li>
					<h3>7</h3>
					<p>NO. of plays </p>
				</li>
			</ul>
			
			<div class="invite-list">
				<div class="invite-list-hd"> You've invited {$invite_count} people  </div>
				<ul class="invite-list-ul">
					<foreach name="invites" item="vo">
						<li>
							<span>{$vo.time_str}</span>
							<if condition="$vo.newer_id">friend accepts</if>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>


	<div class="home-ft" style="padding-top: 20px">
		<p>
			Click 〝share〞to invite  more friends.<br>
			If your friend accepts your invitation, you'll get an
extra play.
		</p>

		<div class="btn-bar">
			<button class="btn" style="margin-bottom: 15px">share</button>
			
			<button class="btn btn-blue">Have another go</button>
		</div>

	</div>

</div>
<include file="Public/foot" />
