<include file="Public/head" />
<div class="bg"></div>
<div class="main">

	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<div class="title" style="padding: 12px 0">我的奖品</div>
			<div class=" img">
				<div class="img-con">
					<img src="{$Think.config.app_path}/img/d1.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="home-ft" style="padding-top: 20px">
		<div class="btn-bar">
			<button class="btn" style="margin-bottom: 15px">Collect my prize</button>
		</div>
				<p>Click ‘GO’ to place an order for this prize, 
				filing in your address without making the payment. </p>
				<p>We’ll take care of the payment part, and arrange 
				for the prize to be shipped to you.</p>
				<p>&nbsp;</p>
				<p>Name: xxx</p>
				<p>Email: xxxx@xxx.xx</p>
	</div>

</div>
<include file="Public/foot" />
