<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<div class="title">Your friend is competing in a guessing game, 
and he  needs your help to guess it right.
if you guess it right, you'll both have a go at 
the lucky draw.</div>                   
		</div>
	</div>

	<div class="home-ft" style="padding-top: 20px">
		<p style="margin-bottom: 10px;font-size: 14px;">猜对题目即有机会免费获得竞猜商品</p>
		<div class="btn-bar">
			<button class="btn" style="margin-bottom: 15px">接受邀请并@他</button>
		</div>
	</div>
</div>
<include file="Public/foot" />