<!DOCTYPE html>
<html>
    <head>
        <title>Guess It, Get It - DHGate.com</title>
		<meta property="og:title" content="Guess It, Get It" />
		<meta property="og:site_name" content="DHGate.com"/>
		<meta property="og:url" content="http://campaign.dhgate.com/guess" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{$Think.config.app_path}/css/style.css" rel="stylesheet" type="text/css"/>
		<script src="{$Think.config.app_path}/js/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="{$Think.config.app_path}/js/fun.js" type="text/javascript"></script>
    </head>
    <body>
<div style="width: 100px;height: 30px;position: absolute;left:18px;top:54px;z-index:3;"><div class="fb-like" href="https://www.facebook.com/dhgate" layout="button_count"></div></div>