<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<div class="title">Oops, you didn’t get the prize, but lucky for you, you won a US $XX coupon!</div>
			
			<div class="btn-bar">
				<a class="btn btn-sm" href="{$product.link2}">Use my coupon</a>
			</div>
		</div>
	</div>

	<div class="home-ft" style="padding-top: 20px">
		<p>
			Click 〝share〞to invite  more friends<br>
			If your friend accepts your invitation, you'll get an
extra play.
		</p>
		<div class="btn-bar">
			<button class="btn btn-green share" style="margin-bottom: 15px">Share</button>
			<a class="btn btn-blue" href="{$Think.config.app_path}/">Have another go</a>
		</div>
	</div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '150753891946509',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$('.share').click(function(){
	FB.ui({
		method: 'feed',
		link: 'http://campaign.dhgate.com{$Think.config.app_path}/invite/{$code}',
		caption: 'Help me guess it.',
	}, function(response){
		console.log(response);
	});
});
</script>
<include file="Public/foot" />