<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue">
		<div class="hd"><h1>How much is it?</h1></div>
		<div class="con">
			<div class=" img">
				<div class="img-con">
					<img src="{$Think.config.app_path}{$product.img}" />
				</div>
			</div>
			<p>Buyers can receive a refund and keep the item(s) once the item(s) are not as described or possess any quality issues by negotiating directly with the seller.</p>
		</div>
	</div>
	
	<div class="btn-wp">
		<ul class="btn-list">
			<foreach name="product.price" item="p">
			<li><a href="javascript:;" val="{$key}">{$p}</a></li>
			</foreach>
		</ul>
	</div>
	
	<div class="home-ft">
		<form id="form" method="POST" action="{$Think.config.app_path}/game/result">
			<input type=hidden id="select" name="select" value=""/>
		</form>
		<div class="btn-bar" id="submit">
			<button class="btn">OK{$product.right_price}|{$product.count}</button>
		</div>
		<p>
			<a href="javascript:;">You only have one chance for that!</a>
		</p>
		<p>
			<a href="javascript:;">Too hard? Try some other product</a>
		</p>
	</div>
	
</div>
<script>
$('.btn-list li a').click(function(){
	$('.btn-list li a').removeClass('select');
	$(this).addClass('select');
});
$('#submit').click(function(){
	var sel = $('.btn-list a.select').attr('val');
	if(sel){
		$('#select').val(sel);
		$('#form').submit();
		return;
	}
});
</script>
<include file="Public/foot" />