<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue off-hd">
		<div class="con">
			<div class="title">What’s this?</div>
			<div class=" img">
				<div class="img-con">
					<img src="{$Think.config.app_path}{$product.img_name}" />
				</div>
			</div>
			<p>{$product.desc}</p>
		</div>
	</div>
	
	<form id="form" method="POST" action="{$Think.config.app_path}/game/result">
		<div class="btn-wp">
			<input type="text" class="input-text" name="name" value="" placeholder="{$product.holder}"/>
		</div>
		
		<div class="home-ft" id="submit">
			<div class="btn-bar">
				<button class="btn">OK</button>
			</div>
		</div>
	</form>
</div>
<script>
$('#submit').click(function(){
	var val = $('input[name=name]').val();
	if(val){
		$('#form').submit();
		return;
	}
	return false;
});
</script>
<include file="Public/foot" />