<include file="Public/head" />
<div class="bg"></div>
<div class="main">
	<div class="box-issue">
		<div class="hd"></div>
		<div class="con">
			<div class="title">Your friend XXX is now competing in a guessing price
game. He thinks the game  is amazing, and  he's suggesting
you have a try. Guess it , get it!</div>                   
		</div>
	</div>

	<div class="home-ft" style="padding-top: 20px">
		<p style="margin-bottom: 10px;font-size: 14px;">猜对题目即有机会免费获得竞猜商品</p>
		<p>
			Tag him to accept
		</p>
		<div class="btn-bar">
			<button class="btn" style="margin-bottom: 15px">接受邀请并@他</button>
			<a class="btn btn-blue" href="{$Think.config.app_path}">Have another go</a>
		</div>
	</div>
</div>
<include file="Public/foot" />